body {
  font-family: "Karla", sans-serif;
}

.container {
  width: 550px;
  margin: 0 auto;
}

.overlay {
  width: 550px;
  height: 300px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.overlay h3 {
  background: rgba(255, 255, 255, 0.4);
  padding: 50px;
  width: 550px;
  text-align: center;
}

.hidden {
  display: none;
}

a {
  color: black;
}

h4 {
  padding: 0;
  margin: 0;
  text-align: center;
}
p {
  padding: 0;
  margin: 0;
  text-align: center;
}
#picker {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

#colorpicker {
  height: 47px;
  width: 71px;
}
button {
  padding: 13px 11px;
  background: white;
  cursor: pointer;
  width: 140px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  border: 1px solid black;
  text-align: center;
}

select {
  width: 300px;
  font-size: 18px;
  padding: 11px 5px;
  font-family: "Karla", sans-serif;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 550px;
}
.colorsinfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 548px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.swatch {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 110px;

  height: 350px;
}

.info {
  display: flex;
  justify-content: center;
  width: 110px;
  cursor: pointer;
  height: 40px;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 600;
}

.info:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 30px 10px 30px;
}

.howto {
  text-align: left;
  font-size: 12px;
  padding: 0 30px;
}

span {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  padding-left: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.label {
  background: white;
  // border: 1px solid black;
  font-size: 10px;
  margin-bottom: -20px;
  padding: 2px;
}
